
.product-card {
	width: 250px;
	position: relative;
	box-shadow: 0 2px 7px #dfdfdf;
	background: #fafafa;
	margin-left: 20px;
	margin-bottom: 30px ;
	border-radius: 0px 0px 40px 0px;
}
.badge {
	position: absolute;
	left: 0;
	top: 20px;
	text-transform: uppercase;
	z-Index:1;
	font-size: 13px;
	font-weight: 500;
	background: purple;
	color: #fff;
	padding: 3px 10px;
}

.product-tumb {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-tumb img {
	max-width: 100%;
	max-height: 100%;
}

.product-details {
	padding: 30px;
}

.product-category {
	display: block;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ccc;
	margin-bottom: 18px;
}

.product-details h5 a {
	font-weight: 500;
	display: block;
	margin-bottom: 18px;
	text-transform: uppercase;
	color: #363636;
	text-decoration: none;
	transition: 0.3s;
}

.product-details h5 a:hover {
	color: #fbb72c;
}

.product-details p {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 18px;
	color: #999;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.product-bottom-details div {
	float: left;
	width: 50%;
}

.product-price {
	font-size: 18px;
	color: plum;
	font-weight: 600;
}

.product-price small {
	font-size: 80%;
	font-weight: 400;
	text-decoration: line-through;
	display: inline-block;
	margin-right: 5px;
}

.product-links {
	text-align: right;
    
}

.product-links a {
	display: inline-block;
	margin-left: 5px;
	color: #e1e1e1;
	transition: 0.3s;
	font-size: 17px;
    font-size: 30px
}

.product-links a :hover {
	color:plum;
}

